<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_messages %}<p><strong>{{ error_messages }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} -- {{ choice.votes }}票</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" name ="vote" value="投票">
    <input type="submit" name="goBack" value="一覧画面に戻る"/>
    {% if vote_start == False %}
        <a href="{% url 'polls:edit' question.id %}">編集</a>
    {% endif %}
</form>
