<form action="{% url 'polls:update' question.id %}" method="post">
    {% csrf_token %}
        <label><h3>質問</h3></label>
            <input type="text" name="myQuestion1" value="{{question.question_text}}"></input>
        <br>
        <label><h3>選択肢</h3></label>
        {% if Choices %}
        {% for choice in Choices %}
            <input type="text" name="myChoice{{ forloop.counter }}" value="{{ choice }}"/>
            <br>
        {% endfor %}
        {% endif %}
        {% if error_messages %}{% for message in error_messages %}<p><strong>{{ message }}</strong></p>{% endfor %}{% endif %}
    <input type="submit" name="update" value="更新する">
    <input type="submit" name="goBack" value="詳細に戻る"/>
</form>
