{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1>投票一覧</h1>
{% if latest_question_list %}
    <ol>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="{% url  'polls:create' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="新規登録"/>
</form>